.text{
    padding: 20px;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: antiquewhite;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  
  .desc {
    font-size: clamp(.75rem, 2.5vw, 1rem);
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
  
   .desc span{
    color: var(--primary-color);
    font-weight: bold;
   }
  
  .download{
    width: 150px;
  }
  
  
  .primary__btn{
    padding: 10px;
  }
  

  .groupedQuestion{
    
  }

  :host ::ng-deep .p-knob-text{
    font-size: .85rem;
  }