<div class="hero__two">
  <div class="heroTwo__body">
    <div class="heroTwo__content">
      <h2
        data-aos="fade-down"
        data-aos-duration="800"
        class="head__two font-bold text-white text-[1rem]"
      >
        My Notifications
      </h2>
    </div>
  </div>
</div>
<div class="notification__body pb-[120px]">
  <div class="notication__body cursor-pointer mt-1" *ngFor="let note of notifications$ | async" (click)="openMessage(note)">
    <div
      class="notification__card p-4 bg-white flex items-center gap-5 w-[90%] mx-auto rounded-md drop-shadow-sm border-solid'"
    >
      <div class="group">
            <div class="red" *ngIf="!note.isSeen"></div>
            <div class="green" *ngIf="note.isSeen"></div>
      </div>
      <div class="group w-full grid p-2 gap-1">
        <div class="title font-bold flex items-center w-full justify-between text-[.9rem]">
          {{ note.title }}
        </div>
        <small class="description">{{ note.descriptionSummary }}</small>
        <small class="font-light">{{ note.date }}</small>
      </div>
    </div>
  </div>
</div>
