.hero__two{
  padding: 50px 10px;
  background: var(--primary-color);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.heroTwo__body{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: space-between;
}

.hero__right{
  width: 100%;
  height: 20vh;
}

.hero__right img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.heroTwo__content{
  width: 100%;

}

.subtitle{
  font-size: 0.75rem;
  line-height: 1.5;
}


.green {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(154, 255, 3);
}

.red {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(255, 3, 3);
}



