<!-- 
<div class="landing__main">
        <div class="landing__body">
            <div class="grouped" >
                <div class="text" >
                    <div class="div"></div>
                    <div class="" data-aos="fade-down" data-aos-duration="1250"
                    data-aos-delay="300"
                    data-aos-offset="100">
                        <div class="text mirror" >
                            <img class="mylogo" src="../../../assets/logo/logo.png" alt="">
                        </div>
                    </div>
                    <div class="mirrorText">
                       Welcome
                    </div>
    
                </div>
            </div>
        
               
               
        </div>
</div> -->
<div class="landing__main">
    <div class="mainText">
      <img src="../../../assets/logo/logo.png" class="logo" alt="" height="50" width="50" style="object-fit: contain;">  The Mirror
     </div>
    <lottie-player
      src="../../../assets/json/master.json"
      autoplay
      loop
      background="none"
      animation
      style="height: 220px"
    
    >
    </lottie-player>
    <div class="path">
        The Journey to <span>Wholeness  </span>  Begins
     </div>
</div>
