<section class="course__detail" *ngIf="message.courseSelected as course">
    <app-header></app-header>
    <app-hero-three [title]="course.title" [instructor]="course.instructor"></app-hero-three>
    <app-pricing-card [price]="course.price" [image]="course.img" [course]="course" [videoId$]="videoId$"></app-pricing-card>
    <app-course-content [description]="course.description" [learnerOutcome]="course.learningOutcomes" [courseId]="course.courseId" (videoLink)="getVideoLink($event)"></app-course-content>
    <app-footer-bottom></app-footer-bottom>
</section>