<div class="payment__card mt-2 w-full md:w-[90%] md:m-auto mb-5 bg-[#ffff]">
  <div class="payment__main" *ngIf="!loading && !success" >
    <div class="text-[1.2rem] md:text-[1.4rem]  text-black font-bold pt-2">Check out</div>
    <div class="payment__type text-black">
     Select Payment method
      <div class="payment__mode pt-1 md:pt-5">
          <p-selectButton
            [options]="methodList"
            [(ngModel)]="method"
            (onChange)="logResult($event)"
          >
            <ng-template let-item>
              <div class="grouped__data">
                <p>{{ item }}</p>
              </div>
            </ng-template>
          </p-selectButton>
      </div>
      <button *ngIf="method === 'paystack'" class="payment whiteBtn full mt-4 mb-1" (click)="pay()">
        Pay With Paystack
      </button>
      <div class="pt-4">
        <ngx-paypal *ngIf="method === 'paypal'" [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>

  </div>
</div>
<div *ngIf="!loading && success">
  <lottie-player
    src="../../assets/json/payment-successfully-in-green-colore.json"
    autoplay
    background="none"
    animation
    style="height: 250px"
  >
  </lottie-player>
  <button class="payment whiteBtn full mt-4 mb-3" (click)="proceed()">
    Proceed
  </button>
</div>
