<div class="payment__card">
  <div class="payment__main" *ngIf="!loading && !success" >
    <div class="payment__title pt-2">Check out</div>
    <div class="payment__type">
      Payment method
      <div class="payment__mode pt-1">
          <p-selectButton
            [options]="methodList"
            [(ngModel)]="method"
            (onChange)="logResult($event)"
          >
            <ng-template let-item>
              <div class="grouped__data">
                <p>{{ item }}</p>
              </div>
            </ng-template>
          </p-selectButton>
      </div>

      <button *ngIf="method === 'paystack'" class="payment whiteBtn full mt-4 mb-3" (click)="pay()">
        Pay With Paystack
      </button>
      <div class="pt-4">
        <ngx-paypal *ngIf="method === 'paypal'" [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>

  </div>
  <div *ngIf="loading">
    <lottie-player
        src="../../assets/json/card-processing-2.json"
        autoplay
        loop
        background="none"
        animation
        style="height: 420px"

      >
      </lottie-player>
</div>
  <div *ngIf="!loading && success">
    <lottie-player
        src="../../assets/json/payment-successfully-in-green-colore.json"
        autoplay
        background="none"
        animation
        style="height: 420px"
      >
      </lottie-player>
      <button class="payment whiteBtn full mt-4 mb-3"  (click)="proceed()">
        Proceed
      </button>
</div>
</div>


