<div class="about">
    <div class="about__container">
        <div class="about__left">
            <img src="../../assets/children/friends.png" alt="">
        </div>
        <div class="about__right">
            <div class="about__title">
                About the Program
            </div>
            <div class="about__items">
                <div class="about__item">
                    <img src="../../assets/children/heart.svg" alt="">
                    The Pathway to Wholeness Program (PTW) is a year-round multi-channel mentoring model that was created to meet the needs of students K-12. 
                </div>
                <div class="about__item">
                    <img src="../../assets/children/star.svg" alt="">
                    Participants are engaged in 12 weeks mentoring sessions. 
                </div>
                <div class="about__item">
                    <img src="../../assets/children/leaf.svg" alt="">
                    The mentor will meet with the mentee 1 hour per week for twelve weeks. The meeting can be in person or on zoom depending on the student’s needs. 
                </div>
                <div class="about__item">
                    <img src="../../assets/children/reward.svg" alt="">
                    It can also be a meeting with parents or teachers of the student. Mentoring sessions will cover four areas of a student’s life including identity, education/career path, spirituality and social life.
                </div>
            </div>
        </div>
    </div>
</div>