<div class="text">
  <p class="mb-2 bold underline">{{item.chapterItemName | titlecase}}</p>
  <div class="title">
    {{item.title}}
  </div>
  <div class="desc">
    <span>instructions:</span>
    {{item.instructions}}
  </div>
    <a href={{item.assignmentTemplateUrl}} class="primary__btn download mt-3" download="">Download Assignment</a>
  <form class="form mt-4 ">
    <div class="form__group ">
      <label for=""> Upload Assignment</label>
     <input type="file" name="" id="">
   </div>
   <button class="outline__btn">Submit</button>
  </form>
</div>
