.text{
  padding: 30px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background: antiquewhite;
  overflow-y: scroll;
}


.title{
  font-size: clamp(1.7rem, 2.5vw, 3rem);
  font-weight: bold;
  margin-bottom: 20px;
}

.desc {
  font-size: clamp(.85rem, 2.5vw, 1rem);
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 .desc span{
  color: var(--primary-color);
  font-weight: bold;
 }

.download{
  width: 200px;
}

.form{
  display: flex;
  width: 100%;
  gap: 10px;
}
