<div class="stickyLogo">
  <img src="../../../assets/logo/logo.png" alt="" routerLink="/home" />
  <div class="home" routerLink="/home">
    <i class="pi pi-home"></i>
    Home
  </div>
</div>
<div class="signup__container">
  <div class="signup__content">
    <h3 class="head__three">Reset your password</h3>
    <form class="form" class="form" [formGroup]="resetForm">
      <div class="form__group">
        <label for=""> Password </label>
        <input type="password" formControlName="password" />
      </div>
      <small class="error" *ngIf="resetForm.controls['password'].errors">
        Please enter password
      </small>
      <div class="form__group">
        <label for="">Confirm Password </label>
        <input
          type="password"
          formControlName="confirmPassword"
        />
      </div>
      <small class="error" *ngIf="resetForm.controls['confirmPassword'].errors">
        Please enter confirm password
      </small>
      <small class="error" *ngIf="!checkPassword()">Password don't match.</small>
      <div class="bottom" >
        <button pRipple class="primary__btn next" [disabled]="!resetForm.valid || loading"
        (click)="resetPassword()">
          <i *ngIf="loading" class="pi pi-spinner pi-spin"></i>
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
