<app-header-two></app-header-two>
<div class="video__page">
  <div class="video__content">
    <div class="video__main">
      <div class="left">
        <!-- <div class="grouped__btn">
          <button class="home" routerLink="/my-learning">
            <i class="pi pi-home"></i>
            Go to Dashboard
          </button>
          <button class="home" (click)="next()">
            Next
            <i class="pi pi-angle-right"></i>
          </button>
        </div> -->
        <div class="video" *ngIf="chapterItem as item">
          <app-video-frame
            *ngIf="item.chapterItemName === 'link'"
            [videoId$]="of(item.link)"
          ></app-video-frame>
          <app-text-item *ngIf="item.chapterItemName === 'text'" [item]="item"></app-text-item>
          <app-assignment-item *ngIf="item.chapterItemName === 'assignment'" [item]="item"></app-assignment-item>
        </div>
      </div>
      <div class="" *ngIf="loading">
        <p-skeleton styleClass="mb-1"></p-skeleton>
        <p-skeleton width="10rem" styleClass="mb-1"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-1"></p-skeleton>
        <p-skeleton height="10rem" styleClass="mb-1"></p-skeleton>
      </div>
      <div class="right">
        <div class="video__right">
          <app-video-items
            [chapters$]="chapters$"
            [activeIndex]="0"
            [courseId]="courseId"
            (chapterItem)="getChapterItem($event)"
          >
          </app-video-items>
        </div>
      </div>
    </div>
    <div class="video__left">
      <p-tabView>
        <p-tabPanel header="Overview">
          <div class="mx-auto w-[95%] md:w-[85%]" *ngIf="course$ | async as course">
            <div class="section">
              <!-- <app-info [type]="'warn'"></app-info> -->
              <h4 class="head__four pb-2">About this Course</h4>
              <p class="learning__text">
                {{ course.description }}
              </p>
            </div>
            <div class="section" *ngIf="course.isCertificate">
              <h4 class="head__four pb-2">Certificate</h4>
              <p class="learning__text">
                Get you certificate by completing this course
              </p>
              <button class="primary__btn mt-2" [disabled]="true">
                Download Certificate
              </button>
            </div>
            <div class="section">
              <h4 class="head__four pb-2 pt-4">Learning Outcomes</h4>
              <div class="learning__card">
                <div class="learning__cardBody">
                  <div
                    class="learning__text"
                    *ngFor="let outcome of course.learningOutcomes"
                  >
                    <span class="primary bold"> {{ outcome.heading }}: </span>
                    {{ outcome.details }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Assessment">
          <div class="tab__body">
            <div class="section">
              <h4 class="head__four">My Assesments</h4>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

<app-footer-bottom></app-footer-bottom>
