<app-header-two></app-header-two>
<div class="video__page">
  <div class="video__content">
    <div class="video__main">
      <div class="left">
        <!-- <div class="grouped__btn">
          <button class="home" routerLink="/my-learning">
            <i class="pi pi-home"></i>
            Go to Dashboard
          </button>
          <button class="home" (click)="next()">
            Next
            <i class="pi pi-angle-right"></i>
          </button>
        </div> -->
        <div class="video" *ngIf="chapterItem as item">
          <app-video-frame
            *ngIf="item.chapterItemName === 'link'"
            [videoId$]="of(item.link)"
          ></app-video-frame>
          <app-text-item *ngIf="item.chapterItemName === 'text'" [item]="item"></app-text-item>
          <app-assignment-item *ngIf="item.chapterItemName === 'assignment'" [item]="item"></app-assignment-item>

        </div>
      </div>
      <div class="" *ngIf="loading">
        <p-skeleton styleClass="mb-1"></p-skeleton>
        <p-skeleton width="10rem" styleClass="mb-1"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-1"></p-skeleton>
        <p-skeleton height="10rem" styleClass="mb-1"></p-skeleton>
      </div>
      <div class="right">
        <div class="video__right">
          <app-video-items
            [chapters$]="chapters$"
            [activeIndex]="0"
            [courseId]="courseId"
            (chapterItem)="getChapterItem($event)"
          >
          </app-video-items>
        </div>
      </div>
    </div>
    <div class="video__left">
      <p-tabView>
        <p-tabPanel header="Overview">
          <div class="tab__body" *ngIf="course$ | async as course">
            <div class="section">
              <!-- <app-info [type]="'warn'"></app-info> -->
              <h4 class="head__four pb-2">About this Course</h4>
              <p class="learning__text">
                {{ course.description }}
              </p>
            </div>
            <div class="section" *ngIf="course.isCertificate">
              <h4 class="head__four pb-2">Certificate</h4>
              <p class="learning__text">
                Get you certificate by completing this course
              </p>
              <button class="primary__btn mt-2" [disabled]="true">
                Download Certificate
              </button>
            </div>
            <div class="section">
              <h4 class="head__four pb-2 pt-4">Learning Outcomes</h4>
              <div class="learning__card">
                <div class="learning__cardBody">
                  <div
                    class="learning__text"
                    *ngFor="let outcome of course.learningOutcomes"
                  >
                    <span class="primary bold"> {{ outcome.heading }}: </span>
                    {{ outcome.details }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Announcements">
          <div class="tab__body">
            <div class="section">
              <div class="group pb-2">
                <img src="../../../assets/moses.png" alt="" />
                <div class="name">Moses Sowale</div>
              </div>
              <h4 class="head__four pb-2">Welcome to This course</h4>
              <div class="learning__text">
                Think about an Item that makes you feel happy and close to God.
                It could be something you see, hear, smell, taste, or touch.
                This thing should be special to you and help you feel close to
                God. For example, some people might feel connected to God when
                they see a beautiful sunset, while others might feel close to
                God when they hug a loved one. Whatever your special thing is,
                it should remind you of who God created you to be and help you
                focus on your true identity. This can be a helpful way to feel
                more connected to God and remember how much He loves you. In
                this part, you will select an item that best shows your
                personality. Posted - 2 Months ago
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Reviews">
          <div class="tab__body">
            <div class="reviews">
              <!-- <div *ngFor="let data of [1, 2, 3, 4]">
                <app-reviews></app-reviews>
              </div> -->
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Learning Tools">
          <div class="tab__body">
            <div class="section">
              <h4 class="head__four">My learning tool</h4>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Assessment">
          <div class="tab__body">
            <div class="section">
              <h4 class="head__four">My Assesments</h4>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

<app-footer-bottom></app-footer-bottom>
