<section class="section">
  <div class="section__container">
    <div class="section__left">
      <img src="../../../assets/images/diversity-img.png" alt="" />
    </div>
    <div class="section__right">
      <h2 class="head__two gold">Celebrating Diversity</h2>
      <p class="paragraph">
        “We best serve others by reminding them of their song. Judgment,
        punishment, and power plays don’t correct; they only drive human beings
        further from their joy and aggravate pain and self-defeating behavior.
        When someone is in distress or conflict, we help them remember who they
        really are, and they’ll have no need to hurt others.”
      </p>
      <small class="author">By Alan Cohen</small>
    </div>
  </div>
</section>
