<app-header></app-header>

<div class="privacy__policy">
  <div class="privacy__body">
    <h2 class="head__two">Privacy Policy</h2>

    <p class="paragraph mt-2">
      This Privacy Policy (the <span> “Policy” </span> ) governs the manner in
      which the Platform collects, uses, maintains and discloses information of
      its users. The Policy also describes the practices that We apply to such
      user information, user’s privacy rights and choices regarding their
      information. To clarify, this Policy applies to all users of the Platform
      (referred to as “Learners”, “You”, “Your”).
    </p>
    <p class="paragraph mt-2">
      By accessing and using the Platform, providing Your Personal Information,
      or by otherwise signalling Your agreement when the option is presented to
      You, You consent to the collection, use, and disclosure of information
      described in this Policy and Terms of Use and we disclaim all the
      liabilities arising therefrom. If You do not agree with any provisions of
      this Policy and/or the Terms of Use, You should not access or use the
      Platform or engage in communications with us and are required to leave the
      Platform immediately. If any information You have provided or uploaded on
      the Platform violates the terms of this Policy or Terms of Use, we may be
      required to delete such information upon informing You of the same and
      revoke Your access if required without incurring any liability to You.
      Capitalized terms used but not defined in this Privacy Policy can be found
      in our Terms of Use. Please read this Policy carefully prior to accessing
      our Platform and using any of the services or products offered therein. If
      you have any questions, please contact us at the contact information
      provided below.
    </p>
    <ol>
      <li>
        PERSONAL INFORMATION
        <p class="paragraph mt-2">
          <span> “Personal Information” </span> shall mean the information which
          identifies a Learner i.e., first and last name, identification number,
          email address, age, gender, location, photograph and/or phone number
          provided at the time of registration or any time thereafter on the
          Platform.
        </p>

        <p class="paragraph"> 
          <span> “Sensitive Personal Information” </span> shall include (i)
          passwords and financial data (except the truncated last four digits of
          credit/debit card), (ii) health data, (iii) official identifier (such
          as biometric data, aadhar number, social security number, driver’s
          license, passport, etc.,), (iv) information about sexual life, sexual
          identifier, race, ethnicity, political or religious belief or
          affiliation, (v) account details and passwords, or (vi) other
          data/information categorized as ‘sensitive personal data’ or ‘special
          categories of data’ under the Information Technology (Reasonable
          Security Practices and Procedures and Sensitive Personal Data or
          Information) Rules, 2011, General Data Protection Regulation (GDPR)
          and / or the California Consumer Privacy Act (CCPA)
          <span> (“Data Protection Laws”) </span> and in context of this Policy
          or other equivalent / similar legislations.
        </p>
        <p class="paragraph">
          Usage of the term <span>‘Personal Information’ </span> shall include
          <span> ‘Sensitive Personal Information’ </span> as may be applicable
          to the context of its usage.
        </p>
      </li>

      <li class="paragraph mt-2">
        INFORMATION WE COLLECT:
        <p class="paragraph">
          We may collect both personal and non-personal identifiable information
          from You in a variety of ways, including, but not limited to, when You
          visit our Platform, register on the Platform, and in connection with
          other activities, services, features or resources we make available on
          our Platform. However, please note that-
        </p>

        <ul class="paragraph mt-2">
          We do not ask You for Personal Information unless we truly need it;
          like when You are registering for any Content on the Platform. We do
          not share Your Personal Information with anyone except to comply with
          the applicable laws, develop our products and services, or protect our
          rights.
        </ul>
        <ul class="paragraph mt-2">
          We do not store Personal Information on our servers unless required
          for the on-going operation of our Platform.
        </ul>

        <ul class="paragraph mt-2">
          Personal Identifiable Information: We may collect
          personal-identifiable information such as Your name and emails address
          to enable Your access to the Platform and services/products offered
          therein. We will collect personal-identifiable information from You
          only if such information is voluntarily submitted by You to us. You
          can always refuse to provide such personal identification information;
          however, it may prevent You from accessing services or products
          provided on the Platform or from engaging in certain activities on the
          Platform.
        </ul>
        <ul class="paragraph mt-2">
          Non-Personal Identifiable Information: When You interact with our
          Platform, we may collect non-personal-identifiable information such as
          the browser name, language preference, referring site, and the date
          and time of each user request, operating system and the Internet
          service providers utilized and other similar information.
        </ul>

        <ul class="paragraph mt-2">
          Cookies: To enhance User experience, our Platform may use 'cookies'. A
          cookie is a string of information that a website stores on a visitor’s
          computer, and that the visitor’s browser provides to the website each
          time the visitor returns for record-keeping purposes. You may choose
          to set Your web browser to refuse cookies, or to notify You when
          cookies are being sent; however, please note that in doing so, some
          parts of the Platform may not function properly.
        </ul>
      </li>
    </ol>
  </div>
</div>

<div *ngIf="category$ | async as category">
  <ng-template [ngIf]="category.selected == 'children'">
    <app-footer-two></app-footer-two>
  </ng-template>
  <ng-template [ngIf]="category.selected == 'young adult'">
    <app-footer></app-footer>
  </ng-template>
  <ng-template [ngIf]="category.selected == 'adult'">
    <app-footer></app-footer>
  </ng-template>
</div>
