.hero__main {
  height: 100%;
  width: 100%;
  background-size: 58rem;
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tertiary-color);
 
}

.subtitle{
  font-variation-settings: 'wght' 660;
  font-size: clamp(12px, 2.5vw, 14px);
}

.hero__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* height: 100%; */
  padding-top: 130px;
  position: relative;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* height: 40vh; */

}
.hero__right {
  height: 55vh;
  width: 100%;
  position: relative;

}

.hero__right img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.hero__app {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  margin: auto;
}

.hero__video {
  position: absolute;
  font-weight: bold;
  font-size: clamp(0.7rem, 2.5vw, .80rem);
  color: var(--primary-color);
  gap: 10px;
  padding: 10px;
  border-radius: 40px;
  background: var(--white);
  box-shadow: var(--shadow);
  cursor: pointer;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 280px;
}

.hero__video i {
  padding: 10px;
  font-size: .8rem;
  border: 1px solid;
  border-radius: 50%;
  color: var(--primary-color);
}

:host ::ng-deep iframe {
  width: 100% !important;
  height: 70vh !important;
  object-fit: cover !important;
}

:host ::ng-deep .p-dialog .p-dialog-header,:host ::ng-deep .p-dialog .p-dialog-content{
  background: transparent ;
}

:host ::ng-deep .p-dialog {
  box-shadow: none;
}
:host ::ng-deep .p-component-overlay {
  background-color: #000000b8;
  transition-duration: .2s;
}
:host ::ng-deep .p-component-overlay-enter{
  animation: none;
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
  box-shadow: none;
  color: #343a40;
  border-color: transparent;
  background: #e9ecef;
}
@media screen and (max-width: 820px) {
  .hero__container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {

  .hero__right {
    height: fit-content;
  }

  :host ::ng-deep .p-dialog {
    width: 100% !important;
    height: 100% !important;
  }
  
}
