<div class="learning__main">
    <div class="learning__left">
       <app-course-bg [course]="course"></app-course-bg>
    </div>
    <div class="learning__right mt-2">
        <div class="myTag"  >
            <div class="tag" *ngFor="let tag of course.tags">
                {{tag}}
            </div>
        </div>
            <h6 class="bold mt-1">
                {{course.title}}
            </h6>
            <div class="progress mt-2">
                <div class="progress__left">
                    progress:
                    <p-progressBar [value]="0" [showValue]="false"></p-progressBar>
                </div>
                <div class="progress__right">
                    <button pRipple class="primary__btn" (click)="proceedtToCourse()">{{course.duration ==0 ? 'Start Course' :'Resume Course'}}</button>
                </div>
            </div>
    </div>
</div>