<app-header></app-header>
<div class="profile__main">
  <div class="profile__body">
    <div class="profile__card" data-aos="fade-in" data-aos-duration="1400">
      <div class="profile__top">
        <div class="profile__heading" data-aos="fade-down" data-aos-duration="1500">My Profile</div>
        <div class="profile__subtitle pt-1" data-aos="fade-down" data-aos-duration="1850">
          This information will be displayed publicly
        </div>
      </div>
      <div class="profile__cardBody">
        <div class="form">
          <div class="form__group" data-aos="fade-down" data-aos-duration="1500">
            <label for="">First name</label>
            <div class="name">{{ message.user.name.split(" ")[0] }}</div>
          </div>
          <div class="form__group" data-aos="fade-down" data-aos-duration="1600">
            <label for="">Last name</label>
            <div class="name">{{ message.user.name.split(" ")[1] }}</div>
          </div>
        </div>
        <div class="photo pt-3">
          <h4 data-aos="fade-down" data-aos-duration="2100">Profile Photo</h4>
          <div class="photo__group" data-aos="fade-down" data-aos-duration="2400">
            <img [src]="message.profilePic" alt="" *ngIf="message.profilePic != null ; else avatar" width="30" height="30">
            <ng-template #avatar>
              <p-avatar
                [label]="label | uppercase"
                styleClass="mr-2"
                size="xlarge"
                class="cursor"
                shape="circle"
              ></p-avatar>
            </ng-template>
            <button class="primary__btn" (click)="compressFile()" placeholder="Change Photo" >Upload Image</button>
            <button class="remove"  *ngIf="imgResult.length !=0 " (click)="clear()"><i class="pi pi-trash" ></i> Remove</button>
            <div class="preview" *ngIf="imgResult.length != 0">
              Image Preview
              <img [src]="imgResult" alt="">
            </div>
            <small>*note: All uploads must be below 1mb </small>
          </div>
        </div>
        <form class="privacy pt-3" [formGroup]="form">
          <h4 data-aos="fade-down" data-aos-duration="1700">Privacy settings</h4>
          <p-checkbox
            name="group1"
            [binary]="true"
            label="Show your profile to logged-in users"
            formControlName="showProfile"
            checkboxIcon="pi pi-stop"
            data-aos="fade-down" data-aos-duration="1800"
          ></p-checkbox>
          <hr />
          <p-checkbox
            name="group1"
            [binary]="true"
            label="Show courses you’re taking on your profile page"
            formControlName="showCourses"
            checkboxIcon="pi pi-stop"
          ></p-checkbox>
          <hr />
          <button class="primary__btn" (click)="upload()" [disabled]="loading"> <i class="pi pi-spin pi-spinner" *ngIf="loading"></i> Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer-bottom></app-footer-bottom>
