<div class="stickyLogo">
  <img src="../../../assets/logo/logo.png" alt="" routerLink="/home" />
  <div class="home" routerLink="/home">
    <i class="pi pi-home"></i>
    Home
  </div>
</div>
    <div class="signup__container">
   
      <div class="signup__content">
        <h3 class="head__three">Forgot your password</h3>
        <div class="join" routerLink="/signup">Don't have an account? <span>Sign up</span></div>
        <form class="form" class="form" [formGroup]="forgotPasswordForm">
          <div class="form__group">
            <label for=""> Email </label>
            <input type="email" formControlName="email" name="" id="" />
          </div>
          <div class="bottom"> 
            <button pRipple class="primary__btn next" [disabled]="!forgotPasswordForm.valid || loading" (click)="send()">
              <i *ngIf="loading" class="pi pi-spinner pi-spin"></i>
              Recover password</button>
       
          </div>
        </form>
      </div>
    </div>