<div  class="hero__two">
    <div class="heroTwo__body">
        <div class="heroTwo__content">
            <h2 data-aos="fade-down" data-aos-duration="800" class="head__two">Discover Our Wide Range of Courses</h2>
            <p data-aos="fade-in" data-aos-duration="800" class="subtitle pt-2">Courses for personal development, life purpose, social connections, and spiritual well-being.</p>
        </div>
        <div class="hero__right">
            <img src="../../../assets/course/image 29.png" alt="">
        </div>
    </div>
</div>