<div class="review__main"  data-aos="fade-down" data-aos-duration="1400">
  <div class="review__container">
    <div class="review__head">
      <div class="review__left">
        <img src="../../../assets/images/review.png" alt="" />
      </div>
      <div class="review__right">
        <h4 class="head__four">Angela Staurt</h4>
        <div class="star">⭐️⭐️⭐️⭐️ A week Ago</div>
      </div>
    </div>
    <div class="review__text">
      Recently completed a personal development course on Mirror and I must say,
      it was a life-changing experience. The course covered a wide range of
      topics including mindfulness and meditation, goal setting and time
      management, communication and interpersonal skills, leadership and
      management, and personal finance. The mindfulness and meditation section
      was incredibly helpful in teaching me how to focus my attention and reduce
      stress. I learned different meditation techniques and practical tips that
      I can apply to my daily routine
    </div>
  </div>
</div>
