.sidebar__main{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  transform: 0%;
  transition: all 850ms ease-in-out;
  background: white;
}
.fixedImage{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.sidebar__container{
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 10px;
}
.sidebar__left a{
  display: block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.7;
  cursor: pointer;
}

.title{
  font-size: 18px;
  font-weight: bold;
}


