<div class="hero__main">
    <div class="hero__container">
      <div class="hero__left">
        <h1 class="head__one blackText center" data-aos="fade-down" data-aos-duration="1350">
            The Pathway 
          To   Wholeness for  Children
        </h1>
        <p data-aos="fade-down" data-aos-duration="1000" class="paragraph subtitle center w-60">
          Customized Program to Promote Personal Development, Achieve Life
          Purpose, Nurture Meaningful Social Connections, and Enhance Spiritual
          Well-being.
        </p>
        <div class="hero__app">
     
          <img
            data-aos="fade-down"
            data-aos-duration="1300"
            src="../../../assets/hero/playstore.png"
            alt=""
            draggable="false"
            (click)="androidDownload()"
          />
          <img
            data-aos="fade-down"
            data-aos-duration="1450"
            src="../../../assets/hero/appStore.png"
            alt=""
            draggable="false"
          />
        </div>
     
      </div>
    </div>
  </div>
  
  