<div class="video__items">
    <div class="course__accordion">
        <h4 class="pb-2">Course Content</h4>
        <p-accordion>
          <div
            class="main__accordion"
            *ngFor="let data of chapters$ | async"
          >
            <p-accordionTab  [activeIndex]="activeIndex">
              <ng-template pTemplate="header">
                <div class="header__content">
                  <div class="header__left">{{data.title}}</div>
                  <div class="header__right">{{data.chapterItems.length > 1 ? (data.chapterItems.length + ' ' + 'items') : (data.chapterItems.length + ' ' + 'item')}} </div>

                </div>
              </ng-template>
              <ng-template pTemplate="content" *ngIf="progress$ | async as progress">
                <div class="chapter__items" *ngFor="let details of data.chapterItems">

                  <div class="outcome__card mt-1" (click)="getChapterItem(details)">
                    <div [ngSwitch]="details.chapterItemName">
                      <img class="itemsIcon " *ngSwitchCase="'text'" src="../../assets/items/content.svg" alt="" />
                      <img class="itemsIcon" *ngSwitchCase="'link'" src="../../assets/items/link-icon.svg" alt="" />
                      <img class="itemsIcon" *ngSwitchCase="'pdf'" src="../../assets/items/document-icon.svg" alt="" />
                      <img class="itemsIcon" *ngSwitchCase="'image'" src="../../assets/items/video.svg" alt="" />
                    </div>
                    <div class="outcomeHeading" >
                      {{ details.title }}
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-accordionTab>
          </div>
        </p-accordion>
      </div>
</div>
