<app-header></app-header>
<div *ngIf="category$ | async as category">
  <ng-template [ngIf]="category.selected == 'adult'">
    <app-adult-hero></app-adult-hero>
    <main>
      <app-course-section></app-course-section>
      <app-packages-section></app-packages-section>
      <app-diversity-section></app-diversity-section>
      <app-footer-two></app-footer-two>
    </main>
  </ng-template>
  <ng-template [ngIf]="category.selected == 'young adult'">
    <app-hero></app-hero>
    <main>
      <app-course-section ></app-course-section>
      <app-packages-section></app-packages-section>
      <app-carousel></app-carousel>
      <app-diversity-section></app-diversity-section>
      <app-footer></app-footer>

    </main>
  </ng-template>
  <ng-template [ngIf]="category.selected == 'children'">
    <app-child-hero></app-child-hero>
    <main>
      <app-course-section [bg]="true"></app-course-section>
      <app-packages-section></app-packages-section>
      <app-about-program></app-about-program>

      <app-footer-two></app-footer-two>
    </main>
  </ng-template>
</div>
