.section {
  padding: 20px;
  background: var(--login-bg);
  height: 100vh;
  background-size: cover;
}
.registration__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  margin: auto;
}
.registration__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration__title {
  width: 30%;
  padding-top: 15px;
}

.previous {
  position: absolute;
  top: 50%;
  left: 5%;
  padding: 10px;
  cursor: pointer;
}

.previous i {
  font-size: 2rem;
}

.small {
  font-size: clamp(0.8rem, 2.5vw, 0.85rem);
  line-height: 1.5;
  color: var(--text);
}

.title__head {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  font-weight: bold;
  color: var(--text);
}

.heading {
  font-size: clamp(1.6rem, 2.5vw, 3rem);
  font-weight: bold;
  color: var(--text);
}

::ng-deep .p-dropdown {
  width: 50% !important;
  padding: 10px;
  background: var(--input);
}

.next {
  padding: 10px 40px;
  height: clamp(40px, 4vw, 52px);
  width: fit-content;
}

.text__wrap {
  width: 60%;
  font-size: 0.9rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grouped {
  display: flex;
  gap: 50px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox {
  background: #ffffff;
  box-shadow: 0px 37px 80px rgba(117, 121, 159, 0.12);
  border-radius: 10px;
  padding: 10px;
  /* width: fit-content; */
}

.indicator {
  display: flex;
  gap: 10px;
}

::ng-deep .p-selectbutton .p-button.p-highlight:hover,
::ng-deep .p-selectbutton .p-button.p-highlight {
  color: var(--white) !important;
  background: var(--select);
  box-shadow: none !important;
  border-radius: 10px !important;
  border: 1px solid #d3d3d3 !important;
  padding: 20px !important;
}

.grouped__data {
  display: flex;
  align-items: center;
  gap: 20px;
}

::ng-deep .p-selectbutton {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

::ng-deep .p-buttonset .p-button:last-of-type, ::ng-deep .p-buttonset .p-button:first-of-type {
  border-radius: 10px !important;
  border: 1px solid #d3d3d3 !important;
  padding: 20px !important;
}

@media screen and (max-width: 560px) {
  .registration__title {
    width: 100%;
  }

  .registration__main {
    width: 90%;
  }

  ::ng-deep .p-dropdown {
    width: 100% !important;
    padding: 2px;
  }

  .text__wrap {
    width: 100%;
  }

  .grouped {
    display: flex;
    flex-direction: column;
  }

  .previous {
    top: 30%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}
