.login__mobileTopContent {
    color: #a2a2a2;
    font-size: 15px;
  }
  

  .loginForm__info p {
    font-size: 14px;
    margin-top: 12px;
  }
  
  .loginForm__info a {
    font-size: 13px;
    color: var(--primary-color);
  }
  

.hidden{
    display: none;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    box-shadow: var(--shadow-one);
}
.clock p{
    color: #323438;

}
.clock img{
    margin-right: 10px;
}
