
::ng-deep .p-datatable-tbody{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax( 290px, 1fr)) !important;
    grid-gap: 10px !important;
    overflow: hidden !important;
  }

  