.section{
    margin: 50px 0;
}

.section__container{
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course__section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    gap: 20px;
}

button {
    margin: auto;
}

.grouped__loading{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}



@media screen and (max-width: 520px) {
    .section__container{
        width: 90%;
    }
}