.account__main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 22vh;
}

.account__body{
    width: 80%;
    height: 100%;
    margin: auto;
}

.heading__account{
    color: var(--primary-color);
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    font-variation-settings: 'wght' 900;
}

.children{
    background: none !important;
    color: var(--child-theme);
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    color: var(--black);
}
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: var(--primary-color);
    box-shadow: none;
    border-bottom: 5px solid var(--primary-color) !important;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
    box-shadow: none;
}

.tab__body{
    width: 60%;
    margin: 20px 0;
}


.subheading{
    font-size: clamp(.9rem, 2.5vw, 1.2rem);
    color: var(--primary-color);
    font-variation-settings: 'wght' 600;
}

.email{
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    background: rgb(243, 243, 243);
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex p {
    font-size: .9rem;
    line-height: 1.6;
}


@media screen and (max-width: 580px) {
    .account__body{
        width: 90%;
    }
    .tab__body{
        width: 100%;
    }
}